.checkout {
    background-color: white;
    height: max-content;
    overflow-x: hidden;
}

.checkout__left {
    width: 70vw;
    padding: 10px;
}

.checkout__right {
    width: 30vw;
    padding-right: 20px;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__container {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: white;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}