.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.hero__image {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to top, transparent 0%, black 50%);
}